/* Centrar la tabla en la página */
table {
    margin: 0 auto;
    border-collapse: collapse; /* Elimina los espacios entre bordes */
    width: 80%; /* Ajusta el ancho de la tabla como prefieras */
}

/* Bordes y color para la tabla */
table, th, td {
    border: 2px solid #000;
}

/* Estilos para el encabezado de la tabla */
thead {
    background-color: #003049; /* Color de fondo azul */
    color: white; /* Color de letra blanco */
}

/* Agregar relleno a las celdas */
th, td {
    padding: 10px;
    text-align: center;
}

/* Estilos para los diferentes estados */
.estado-pendiente {
    background-color: #ef9393;
    color: #003049;
    width: 200px;
    
}

.estado-pagado {
    background-color: #b2e4aa;
    color: #003049;
    width: 200px;
}

.estado-en-proceso {
    background-color: #f6ce7e;
    color: #003049;
    width: 200px;
}

.estado-cancelada {
    background-color: #b2a9a9;
    color: #003049;
    width: 200px;
}

.filters{
    display: flex;
    flex-direction: row;
    padding: 20px;
    color: #003049; /* Cambiado a negro para que sea visible */
    border-radius: none;
    width: 100%;
    justify-content: center;
}

.filter{
    padding: 10px;
    flex-direction: row;
    width: 300px;
}

/* Estilo de los botones */
.button_header {
    border: none;
    border-radius: 4px;
    background-color: transparent;
    color: #003049;
    cursor: pointer;
    font-size: 18px;
    transition: color 0.2s;
    font-weight: 500;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 20px;
    margin-left: 20px;
  }
  
  /* Estilo para el botón activo */
  .activeButton {
    text-decoration: underline;
    font-weight: 700;
    color: #f77f00;
  }

  .title_group{
      color:#003049;
      border-radius: 10px;
      width: auto;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;

  }

  .left_side{
      display: flex;
      padding-left: 150px;
      width: 500px;
  }

  .dropdown_state{
      background-color: transparent;
      border: none;
      width: 200px;
      font-size: large;
  }

  .dropdown_state:focus{
    outline: none;
  }
