#groups-container {
  display: flex;
  flex-direction: column;
  margin: 5% auto;
  margin-top: 5%;
  width: 90%;
}

#search-bar {
  width: 95%;
  height: 28px;
  padding: 10px;
  display: flex;
  justify-content: center;
  margin-bottom: 1%;
  border: 1px solid #ffffff;
  border-radius: 28px;
  background-color: #ea8c2f;
  color: white;
  font-size: medium;
  font-weight: bold;
  outline: none;
}

#search-bar::placeholder {
  color: white;
  opacity: 1;
  font-weight: bold;
  font-size: medium;
}

#group-cards {
  max-height: 75vh;
  overflow-y: auto;
  overflow-x: hidden;
}

#no-groups-message {
  text-align: center;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#new-group {
  display: flex;
  align-items: center;
  margin-top: 5%;
  align-self: flex-end;
  width: 12%;
}

#new-group-text {
  margin-right: 2%;
}

#new-group-button {
  background-color: #003049;
  color: #ffffff;
  border-radius: 25px;
  width: 45px;
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  align-self: flex-end;
  margin-bottom: 2%;
}

#new-group-button:hover {
  background-color: #00517c;
}

#new-group-button:active{
  transform: scale(0.97); /* Reduce ligeramente el tamaño para simular un clic */
  font-size: 21px;
  padding: 10px;
}